{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    {% if user.is_authenticated %}
        <div id="profile-picture">
            <h3>USER INFORMATION</h3>
            {% if user.role == 'STUDENT' %}
            <img src="https://tse2.mm.bing.net/th/id/OIP.U5Ui5zsN2yVXgAw7-NhurAHaKc?rs=1&pid=ImgDetMain" alt="Student Picture">
            {% elif user.role == 'TEACHER' %}
            <img src="https://wallpapercave.com/wp/wp8168772.jpg" alt="Teacher Picture">
            {% elif user.role == 'PRINCIPAL' %}
            <img src="https://patch.com/img/cdn/assets/stock/3018/raw/school_Principal_office_kid_in_trouble.jpg" alt="Principal Picture">
            {% endif %}
        </div>

        <div class="profile-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <!-- Add any other profile information you want to display -->
        </div>
        <button onclick="window.location.href='{% url 'home' %}'" class="back-button">BACK TO HOME</button>
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">login</a> to view your profile.</p>
    {% endif %}
</div>

<style>
.profile-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-picture {
    margin-bottom: 20px;
}

#profile-picture h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info {
    text-align: left;
    margin-bottom: 25px;
}

.profile-info p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #444;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.back-button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>
{% endblock %}
